<!DOCTYPE html>

<html>
  <head>
      <title>Request Header Parser</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="style.css" rel="stylesheet" type="text/css">
     
      <meta name="author" content="Fernando Mercadal">
      <meta name="description" content="Second project from freeCodeCamp APIs and Microservices Certification">
      <meta name="keywords" content="Free code camp, APIs and Microservices, Request Header Parser">
   </head>

   <body>
      <main class="container">
        <h1>Project 2: Request Header Parser Microservice</h1>
        <h2>User Story: </h2>
        1. I can get the IP address, preferred languages (from header <code>Accept-Language</code>)<br> and system infos (from header <code>User-Agent</code>) for my device.

        <h3>Example Usage:</h3>
        <p>
          [base url]/api/whoami
        </p>

        <h3>Example Output:</h3>
        <p>
          <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
        </p>
      </main>
      <footer class="footer">
        <small>
          <strong>APIs and Microservices Certification</strong>
          <a href="https://www.freecodecamp.org/">freeCodeCamp</a>
        </small>
      </footer>
   </body>


</html>
